@import '../../Variables.scss';

.downloadContainer {
  padding: 10px;
  border-radius: 15px;
  transition: all 0.3s ease 0s;

  display: flex;
  flex-direction: row;

  &:hover {
    background-color: $bg-secondary;
  }
}

.icon {
  display: flex;
  width: 1.5rem;
  margin-left: 0.25rem;
}