@import '../../Variables.scss';

.main {
  padding-top: $header-height;
}

.sectionTitle {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
}

.sectionDetail {
  font-weight: 600;
  font-size: 1.45rem;
  margin: 0;
}