/* These are important for when defining the variables in the config */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Playfair+Display:700,900|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
Define classes
  Define your own classes in this file as shown below
For responsiveness
  sm: 640px and above
  md: 768px and above
  lg: 1024px and above
  xl: 1280px and above
  2xl: 1536px and above 
Variables
  Add your own variables in tailwind.config.js
*/

a {
  @apply no-underline text-primary-text text-xl
}

body {
  @apply bg-primary-bg m-0 font-inter bg-cover bg-fixed text-sm md:text-base text-primary-text flex flex-col min-h-screen
}

html,
body {
  @apply w-full
}

header, footer {
  @apply shrink-0
}

main {
  @apply flex-1
}

/* Define your own classes */
@layer components {
  .link {
    @apply font-normal no-underline whitespace-nowrap tracking-wide text-xl text-white;
  }

  .linkContainer {
    @apply p-2 rounded-lg transition duration-300 ease-in-out hover:bg-tertiary-bg;
  }

  .maxWidth {
    @apply max-w-5xl;
  }

  .navSection {
    @apply flex items-center;
  }

  .section {
    @apply maxWidth mx-auto px-4 pt-10;
  }

  .socialMediaIcon {
    @apply flex w-11;
  }

  .socialMediaIconSm {
    @apply flex w-10;
  }

  .socialMediaIconXs4 {
    @apply flex w-6;
  }
}