@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Playfair+Display:700,900|Roboto:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


// bg colors
$bg-main: #1A1A1A;
$bg-secondary: #29292b;
$bg-tertiary: #4d4d4f;


// TODO maybe need later
// $bg-betweenTwoAndThree: #323235;


// padding
$padding-top-start: 5rem;

// header
$header-height: 5rem;

// page width
$max-width: 60rem;

//section
$section-margin-top: 12rem;

// font family
$font-open-sans: 'Open Sans', sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-inter: "Inter", sans-serif;


// font colors
$text-color-main: #ffffff;
$text-color-secondary: #A1A1AA;


$white: #FFFFFF;
$red: #ff596f;
$electric-blue: #0064FF;







// BELOW ARE THINGS IN THE PAST YOU DON'T KNOW IF YOU WILL NEED!!
// font colors
$font-white: #FFFFFF;

// it's used in places with the wrong name
$container-havles-to-vertical: 1050px;
$container-halves-phone: 800px;

$short-vertical-phone: 800px;

$screen-min-height: 700px;

//breakpoints
$break-tablet: 768px;
$break-mobile: 576px;