@import '../../Variables.scss';

.image {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.aboutContent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: inherit;
}

.imageSection {
  width: 30%;
}

.paragraphSection {
  width: 70%;
  font-size: 1.25rem;
  color: $text-color-secondary;
}

.paragraphs {
  width: 95%
}