@import '../../Variables.scss';

$padding-link: 10px;

.homeLink {
  margin-left: -$padding-link;
}

.main {
  background-color: $bg-main;
  height: $header-height;
  top: 0;
  z-index: 999;
}

.nav {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;

}

.navSection {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.portfolioSections {
  justify-content: space-around;
  grid-area: 1 / 2 / 2 / 4;

}

.linkContainer {

  padding: $padding-link;
  border-radius: 15px;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $bg-secondary;
  }
}

.link {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: $white;
  white-space: nowrap;

}

.icon {
  width: 100%;
  height: 100%;
}

.socialMedia {
  grid-area: 1 / 5 / 2 / 6;

}

.socialMediaIconsContainer {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.socialMediaIcon {
  width: 1.75rem;
  display: flex;
}

.contactMe {
  grid-area: 1 / 6 / 2 / 7;

}