@import '../../Variables.scss';

$padding-link: 10px;

.homeLink {
  margin-left: -$padding-link;
}

.main {
  background-color: $bg-main;
  height: $header-height;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;
}

.navSection {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.portfolioSections {
  justify-content: space-around;
  grid-area: 1 / 2 / 2 / 4;
}

.linkContainer {

  padding: $padding-link;
  border-radius: 15px;
  transition: all 0.3s ease 0s;

  &:hover {
    background-color: $bg-secondary;
  }
}

.link {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 0.5px;
  color: $white;
  white-space: nowrap;

  @media screen and (max-width: $container-halves-phone ) {
    font-size: 1.1rem;
  }

  &:hover {
    font-weight: 600;
  }
}

.socialMedia {
  grid-area: 1 / 5 / 2 / 6;
}

.socialMediaIcon {
  margin-right: 30px;
}