@import '../../Variables.scss';

.main {
  background-color: $header-bg;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 2rem;
}

.navSection {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.portfolioSections {
  justify-content: space-around;
  width: 600px;
}

.link {
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  letter-spacing: 1px;
  color: $white;
  // transition: opacity 0.25s ease;
  white-space: nowrap;
  text-transform: uppercase;

  @media screen and (max-width: $container-halves-phone ) {
    font-size: 14px;
  }

  &:hover {
    font-weight: 600;
  }
}

.socialMedia {
  grid-area: 1 / 4 / 2 / 5;
}

.socialMediaIcon {
  margin-right: 30px;
}